# Git Ignore File

# Altium files
**/__Previews/
**/History/
Project\ Outputs*/
Project\ Logs*/
Assembly\ Exports/
*.rawProject\ Outputs*/
*.PcbDoc.htm

# Jlcpcb design rules available at : https://github.com/ayberkozgur/jlcpcb-design-rules-stackups
jlcpcb-design-rules-stackups

# Some documentation used during the design
DOC